.DiseasesFrecuently{
  margin-top: 105px;
}


.DiseasesFrecuently__card{
  margin-top: 330px;
  position: relative;
}
.DiseasesFrecuently__card .services-item{
  height: 100%;
}

.DiseasesFrecuently__card .services-item .bottom{
  height: 100%;
  position: relative;

}

.DiseasesFrecuently__img{
  position: absolute;
  z-index: -1;
  width: 105%;
  height: 300px;
  top: -250px;
  left: -2.5%;
}

.DiseasesFrecuently__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}